<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <h1>Blogs Page </h1>
    <ul>
        <li>
            <a href="/index">Blogs</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/resignationletter">Resignation Letter</a>
        </li>
    </ul>
    <h2> About me</h2>
    <div>
        Nguyễn Thị Kim Cúc - 2021
    </div>
</html>
